NODE-RED flow/flows (3).json
[{"id":"4304c343.6b583c","type":"tab","label":"AI Recruiter","disabled":false,"info":""},{"id":"58051dd0.fc9174","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload = \"Hello! \"+msg.payload.name+\" you have successfully submitted\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["47fc2d5c.681684"]]},{"id":"82da54e2.b20b38","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":100,"wires":[]},{"id":"23d19d23.89e312","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["4e5860ee.88a6d","a692bb41.668748"]]},{"id":"4e5860ee.88a6d","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":220,"wires":[]},{"id":"f80e0976.01bbb8","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["dc113b00.a2da08","e231212b.58e49"]]},{"id":"dc113b00.a2da08","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":320,"wires":[]},{"id":"ba46a725.3bdb18","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["286f274a.f4c058","7dac7de1.ea9d84"]]},{"id":"286f274a.f4c058","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"2da79818.550118","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["35f5555.1d651aa","64abf1e7.b5a34"]]},{"id":"35f5555.1d651aa","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]},{"id":"dcfa7175.ef61c","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["5bed7d5e.f85df4","9e0cd90c.6edba8"]]},{"id":"5bed7d5e.f85df4","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":720,"wires":[]},{"id":"a753a17a.e1ae1","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload= \"Submitted successfully\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["1c108843.23a998","c3269aa9.352918"]]},{"id":"1c108843.23a998","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":820,"wires":[]},{"id":"d486f8a1.3f5648","type":"dashDB out","z":"4304c343.6b583c","dashDB":"cf3b3805.b9fb88","service":"_ext_","table":"ADDRESS_DETAILS","name":"","x":500,"y":360,"wires":[]},{"id":"bbceec0c.cd34a","type":"dashDB out","z":"4304c343.6b583c","dashDB":"cf3b3805.b9fb88","service":"_ext_","table":"SECONDARY_EDUCATION","name":"","x":720,"y":280,"wires":[]},{"id":"4984d7be.292048","type":"dashDB out","z":"4304c343.6b583c","dashDB":"cf3b3805.b9fb88","service":"_ext_","table":"INTERMEDIATE_DETAILS","name":"","x":540,"y":760,"wires":[]},{"id":"3ff150d2.c8c9","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"fca7e462.7065d8","order":1,"width":0,"height":0,"options":[{"label":"Enter your name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your phone number","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter your email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your father's name","value":"fatname","type":"text","required":true,"rows":null},{"label":"Enter languages known","value":"lang","type":"multiline","required":true,"rows":3},{"label":"Enter date of birth","value":"dob","type":"date","required":true,"rows":null},{"label":"Enter your hobbies","value":"hobbies","type":"multiline","required":true,"rows":3}],"formValue":{"name":"","phno":"","email":"","fatname":"","lang":"","dob":"","hobbies":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":100,"wires":[["58051dd0.fc9174","7284ff25.7b0c5"]]},{"id":"3d4c68c2.7dd488","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"370061a9.cc051e","order":1,"width":"6","height":"13","options":[{"label":"Enter your school name","value":"scname","type":"text","required":true,"rows":null},{"label":"Enter the board name","value":"board","type":"text","required":true,"rows":null},{"label":"Enter your year of completion","value":"yoc1","type":"number","required":true,"rows":null},{"label":"Enter your Percentage/GPA","value":"gpa1","type":"number","required":true,"rows":null}],"formValue":{"scname":"","board":"","yoc1":"","gpa1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":220,"wires":[["23d19d23.89e312","a417e45f.67e7a8"]]},{"id":"a42069f9.fbd208","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"faa42446.288cd8","order":0,"width":"6","height":"15","options":[{"label":"Enter your line1 address","value":"line1","type":"text","required":true,"rows":null},{"label":"Enter your street name","value":"street","type":"text","required":true,"rows":null},{"label":"Enter your city name","value":"city","type":"text","required":true,"rows":null},{"label":"Enter your state name","value":"state","type":"text","required":true,"rows":null},{"label":"Enter your pincode","value":"pincode","type":"number","required":true,"rows":null}],"formValue":{"line1":"","street":"","city":"","state":"","pincode":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":320,"wires":[["f80e0976.01bbb8","c61aa9a8.b10ee8"]]},{"id":"37275137.2c3a8e","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"3060e3b8.9f9fcc","order":0,"width":0,"height":0,"options":[{"label":"Programming Languages Known","value":"skills","type":"multiline","required":true,"rows":3},{"label":"Design Tools","value":"design","type":"multiline","required":true,"rows":3},{"label":"Web Technologies","value":"web","type":"multiline","required":true,"rows":3},{"label":"Databases","value":"data","type":"multiline","required":true,"rows":2}],"formValue":{"skills":"","design":"","web":"","data":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":420,"wires":[["ba46a725.3bdb18","fb90500e.a8833"]]},{"id":"84e8fbd4.1ad5b8","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"433a382e.71ff58","order":0,"width":0,"height":0,"options":[{"label":"Enter your job role","value":"job","type":"text","required":false,"rows":null},{"label":"Enter number of years worked","value":"years","type":"number","required":false,"rows":null},{"label":"Enter company name you worked","value":"company","type":"text","required":false,"rows":null}],"formValue":{"job":"","years":"","company":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":520,"wires":[["2da79818.550118","10fb46de.a98059"]]},{"id":"283d53c4.d6bcec","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"dfcd20f5.fac6e","order":1,"width":0,"height":0,"options":[{"label":"Enter your institution name","value":"inname","type":"text","required":true,"rows":null},{"label":"Enter the board name","value":"board1","type":"text","required":true,"rows":null},{"label":"Enter your year of completion","value":"yoc2","type":"number","required":true,"rows":null},{"label":"Enter your Percentage/GPA","value":"gpa2","type":"number","required":true,"rows":null}],"formValue":{"inname":"","board1":"","yoc2":"","gpa2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":720,"wires":[["dcfa7175.ef61c","216f557b.197fca"]]},{"id":"9a5cea84.5a1b58","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"7dcba3b1.c1181c","order":1,"width":0,"height":0,"options":[{"label":"Enter your college name","value":"clgname","type":"text","required":true,"rows":null},{"label":"Enter the university name","value":"univ","type":"text","required":true,"rows":null},{"label":"Enter your year of completion","value":"yoc3","type":"number","required":true,"rows":null},{"label":"Enter your Percentage/GPA","value":"gpa3","type":"number","required":true,"rows":null}],"formValue":{"clgname":"","univ":"","yoc3":"","gpa3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":820,"wires":[["a753a17a.e1ae1","aeca170d.0b0618"]]},{"id":"47fc2d5c.681684","type":"ui_text","z":"4304c343.6b583c","group":"fca7e462.7065d8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":450,"y":40,"wires":[]},{"id":"a692bb41.668748","type":"ui_text","z":"4304c343.6b583c","group":"370061a9.cc051e","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":180,"wires":[]},{"id":"e231212b.58e49","type":"ui_text","z":"4304c343.6b583c","group":"faa42446.288cd8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":340,"wires":[]},{"id":"7dac7de1.ea9d84","type":"ui_text","z":"4304c343.6b583c","group":"3060e3b8.9f9fcc","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":400,"wires":[]},{"id":"64abf1e7.b5a34","type":"ui_text","z":"4304c343.6b583c","group":"433a382e.71ff58","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":500,"wires":[]},{"id":"9e0cd90c.6edba8","type":"ui_text","z":"4304c343.6b583c","group":"dfcd20f5.fac6e","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":680,"wires":[]},{"id":"c3269aa9.352918","type":"ui_text","z":"4304c343.6b583c","group":"7dcba3b1.c1181c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":880,"wires":[]},{"id":"7284ff25.7b0c5","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload = \n{\n    NAME : msg.payload.name,\n    PHONE : msg.payload.phno,\n    EMAIL : msg.payload.email,\n    FATNAME: msg.payload.fatname,\n    LANG : msg.payload.lang,\n    DOB : msg.payload.dob,\n    HOB : msg.payload.hobbies,\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["82da54e2.b20b38","45db0232.6a029c"]]},{"id":"45db0232.6a029c","type":"dashDB out","z":"4304c343.6b583c","dashDB":"cf3b3805.b9fb88","service":"_ext_","table":"BASIC_INFO","name":"","x":530,"y":160,"wires":[]},{"id":"a417e45f.67e7a8","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload = \n{\n    SCH : msg.payload.scname,\n    BOAR : msg.payload.board,\n    YOP1 : msg.payload.yoc1,\n    GPA1 : msg.payload.gpa1,\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["bbceec0c.cd34a"]]},{"id":"c61aa9a8.b10ee8","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload =\n{\n    LINE1 : msg.payload.line1,\n    STREET : msg.payload.street,\n    CITY : msg.payload.city,\n    STATE : msg.payload.state,\n    PINCODE : msg.payload.pincode,\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["d486f8a1.3f5648"]]},{"id":"216f557b.197fca","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload=\n{\n    INST : msg.payload.inname,\n    BOAR1 : msg.payload.board1,\n    YOC : msg.payload.yoc2,\n    GPA2 : msg.payload.gpa2,\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":780,"wires":[["4984d7be.292048"]]},{"id":"ff14c6.39af1b38","type":"cloudant out","z":"4304c343.6b583c","name":"","cloudant":"","database":"technical","service":"node-red-kufvb-cloudant-1591678578961-66995","payonly":true,"operation":"insert","x":500,"y":460,"wires":[]},{"id":"fb90500e.a8833","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload =\n{\n    PRO : msg.payload.skills,\n    DES : msg.payload.design,\n    WEB : msg.payload.web,\n    DATA : msg.payload.data,\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["ff14c6.39af1b38"]]},{"id":"aeca170d.0b0618","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload=\n{\n    INS : msg.payload.clgname,\n    UNIV :msg.payload.univ,\n    YOP3 : msg.payload.yoc3,\n    GPA3 : msg.payload.gpa3,\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":900,"wires":[["477fc9f5.fc3d58"]]},{"id":"477fc9f5.fc3d58","type":"cloudant out","z":"4304c343.6b583c","name":"","cloudant":"","database":"graduation","service":"node-red-kufvb-cloudant-1591678578961-66995","payonly":true,"operation":"insert","x":530,"y":920,"wires":[]},{"id":"a6aed931.a92cf8","type":"cloudant out","z":"4304c343.6b583c","name":"","cloudant":"","database":"job","service":"node-red-kufvb-cloudant-1591678578961-66995","payonly":false,"operation":"insert","x":510,"y":580,"wires":[]},{"id":"10fb46de.a98059","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload=\n{\n    ROLE : msg.payload.job,\n    YEARS : msg.payload.years,\n    COMP : msg.payload.company,\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["a6aed931.a92cf8"]]},{"id":"1c05975d.0e3249","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"f88b9783.5f73f8","order":3,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1000,"wires":[["d64c826c.cb219"]]},{"id":"5f56617a.0382f","type":"watson-conversation-v1","z":"4304c343.6b583c","name":"Test","workspaceid":"13c2d8e0-b726-4233-b60a-caf49d68346c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/500b8f3d-46e6-49fe-b8d8-88a4904b643b","timeout":"","optout-learning":false,"x":430,"y":1000,"wires":[["a188294.0e3f2d8"]]},{"id":"d64c826c.cb219","type":"function","z":"4304c343.6b583c","name":"Input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["5f56617a.0382f","aa83a6fa.b36448"]]},{"id":"a188294.0e3f2d8","type":"function","z":"4304c343.6b583c","name":"Output parsing","func":"msg.payload = msg.payload.output.text[0];\n//msg.payload = msg.payload.output.text[1];\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":1100,"wires":[["b2c290d6.03b29","724c2d0a.827c74","2a9b8cc9.62eee4"]]},{"id":"aa83a6fa.b36448","type":"ui_text","z":"4304c343.6b583c","group":"f88b9783.5f73f8","order":4,"width":"6","height":"1","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":1120,"wires":[]},{"id":"b2c290d6.03b29","type":"ui_text","z":"4304c343.6b583c","group":"f88b9783.5f73f8","order":1,"width":"6","height":"3","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":1000,"wires":[]},{"id":"724c2d0a.827c74","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1120,"wires":[]},{"id":"c6aa9597.3c0468","type":"ui_template","z":"4304c343.6b583c","group":"faa42446.288cd8","name":"","order":4,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://lh3.googleusercontent.com/proxy/0eO1-u9i63xNB48DqTcaDlLw-ZRs18Tx7q6s6-SkEXulbTbz7phOgR02iNwa5hFGs42_sbc7GtM9A2Z4L8YQ_B71RUlIxigDC6ohlXuVNvNFqpGRnw2P_Q');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 400px 500px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":119,"y":366,"wires":[["a42069f9.fbd208"]]},{"id":"374b3b3.ff508c4","type":"ui_template","z":"4304c343.6b583c","group":"fca7e462.7065d8","name":"","order":4,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://www.jobsoid.com/wp-content/uploads/2017/01/How-to-go-from-being-Good-to-Great-as-a-Recruiter.jpg');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 475px 550px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":160,"wires":[["3ff150d2.c8c9"]]},{"id":"4d9c8949.a7f408","type":"ui_template","z":"4304c343.6b583c","group":"3060e3b8.9f9fcc","name":"","order":4,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://cdn1.iconfinder.com/data/icons/life-skills-4/64/creative-idea-artist-skill-entrepreneur-512.png');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 400px 450px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":480,"wires":[["37275137.2c3a8e"]]},{"id":"2052a4d0.50aa9c","type":"ui_template","z":"4304c343.6b583c","group":"f88b9783.5f73f8","name":"","order":5,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://i.pinimg.com/originals/02/c5/a8/02c5a82909a225411008d772ee6b7d62.png');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 500px 550px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":1060,"wires":[["1c05975d.0e3249"]]},{"id":"81e38170.a0fb1","type":"ui_template","z":"4304c343.6b583c","group":"433a382e.71ff58","name":"","order":4,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://cdn.dribbble.com/users/52686/screenshots/5800136/artwork_2x.png');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 400px 400px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":600,"wires":[["84e8fbd4.1ad5b8"]]},{"id":"2a9b8cc9.62eee4","type":"ui_audio","z":"4304c343.6b583c","name":"","group":"f88b9783.5f73f8","voice":"en-US","always":"","x":740,"y":1180,"wires":[]},{"id":"276187f0.6a6988","type":"ui_form","z":"4304c343.6b583c","name":"","label":"Type \"Yes\" to listen the paragraph","group":"25790e91.b38152","order":2,"width":0,"height":0,"options":[{"label":"","value":"input1","type":"text","required":true,"rows":null}],"formValue":{"input1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":115,"y":1640,"wires":[["e7c304e5.d452e8"]],"icon":"font-awesome/fa-align-justify","l":false},{"id":"e7c304e5.d452e8","type":"function","z":"4304c343.6b583c","name":"","func":"var test = \"India is chiefly an agricultural land.The cultivation of depends on a proper supply of water throughout since olden times, large parts of our country have suffered from occasional periods of too much rain and those of drought.People have known that if surplus water could be stored away for use during the dry reason, these problems will be Solved. unfortunately, they had neither the knowledge north means to do much in this direction. Whatever little they knew, they tried to‘put into practice. They dug canals to drain water from perennial rivers. This was heavy and expensive work and practicable over only a small area. Large tanks were excavated and small dams hold back floods. But it was not possible to do anything on a countrywide scale.\";\nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1640,"wires":[["544cef44.a3a55"]]},{"id":"544cef44.a3a55","type":"play audio","z":"4304c343.6b583c","name":"","voice":"","x":590,"y":1620,"wires":[]},{"id":"a5ac9b2a.ea1ef8","type":"ui_template","z":"4304c343.6b583c","group":"25790e91.b38152","name":"","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://relearn.pro/wabco/images/dance.gif');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 400px 450px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":1760,"wires":[["276187f0.6a6988"]]},{"id":"86d3e31.d54da2","type":"ui_form","z":"4304c343.6b583c","name":"","label":"Type \"Yes\" to start","group":"25790e91.b38152","order":5,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75,"y":1900,"wires":[["842f9245.00471"]],"l":false},{"id":"ae00c439.aff658","type":"watson-conversation-v1","z":"4304c343.6b583c","name":"Swar","workspaceid":"f214b66f-07b7-4487-b66e-f97a242f7ba0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/500b8f3d-46e6-49fe-b8d8-88a4904b643b","timeout":"","optout-learning":false,"x":410,"y":1840,"wires":[["577b5adf.c9bb74"]]},{"id":"842f9245.00471","type":"function","z":"4304c343.6b583c","name":"Input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1900,"wires":[["ae00c439.aff658","94402aa7.05f508"]]},{"id":"577b5adf.c9bb74","type":"function","z":"4304c343.6b583c","name":"Output parsing","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":1940,"wires":[["2b678ad.40eeb76","1e83029f.d1d47d","6d732bcf.f319f4"]]},{"id":"2b678ad.40eeb76","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1960,"wires":[]},{"id":"94402aa7.05f508","type":"ui_text","z":"4304c343.6b583c","group":"25790e91.b38152","order":6,"width":"6","height":"1","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1920,"wires":[]},{"id":"1e83029f.d1d47d","type":"ui_text","z":"4304c343.6b583c","group":"25790e91.b38152","order":3,"width":"6","height":"3","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":1860,"wires":[]},{"id":"6d732bcf.f319f4","type":"ui_audio","z":"4304c343.6b583c","name":"","group":"25790e91.b38152","voice":"en-US","always":"","x":720,"y":2000,"wires":[]},{"id":"a29871d4.f875a","type":"inject","z":"4304c343.6b583c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1860,"wires":[[]]},{"id":"e8ce9eff.79da8","type":"ui_template","z":"4304c343.6b583c","group":"a8711c70.355d8","name":"","order":1,"width":0,"height":0,"format":"<html>\n    <div>\n        <label for=\"Resume\">Choose file to upload</label>\n        <input type=\"file\" name=\"Resume\"\n        accept=\".jpg, .jpeg, .png, .pdf, .doc\">\n    </div>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":2020,"wires":[["da7f0360.c4f45","33298145.3b46ee"]]},{"id":"20f0f804.7c34a8","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":2160,"wires":[]},{"id":"8db745ae.640888","type":"ui_template","z":"4304c343.6b583c","group":"a8711c70.355d8","name":"","order":4,"width":0,"height":0,"format":"<html>\n<head>\n<style>\nbody{\nbackground-image:url('https://i.pinimg.com/originals/88/6b/15/886b1598b09c5c588004570c4fd1e28c.gif');\nbackground-repeat: no-repeat;\nbackground-position:right center;\nbackground-size: 400px 400px;\n\n}\n</style>\n</head>\n<body>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":2100,"wires":[["18320cd.08093f3"]]},{"id":"da7f0360.c4f45","type":"ui_button","z":"4304c343.6b583c","name":"","group":"a8711c70.355d8","order":3,"width":0,"height":0,"passthru":false,"label":"Upload","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Successfully uploaded","payloadType":"str","topic":"","x":240,"y":2000,"wires":[["18320cd.08093f3"]]},{"id":"ca181bd.ffddee8","type":"ui_text","z":"4304c343.6b583c","group":"a8711c70.355d8","order":6,"width":0,"height":0,"name":"Resume","label":"","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":2060,"wires":[]},{"id":"18320cd.08093f3","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload = \"Successfully uploaded.\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":2020,"wires":[["20f0f804.7c34a8","ca181bd.ffddee8"]]},{"id":"be99df94.4ab5d","type":"cloudant out","z":"4304c343.6b583c","name":"","cloudant":"","database":"resume","service":"node-red-kufvb-cloudant-1591678578961-66995","payonly":false,"operation":"insert","x":500,"y":2120,"wires":[]},{"id":"33298145.3b46ee","type":"function","z":"4304c343.6b583c","name":"","func":"var x = document.getElementById(\"myFile\");\n//msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2100,"wires":[["be99df94.4ab5d"]]},{"id":"f6d1d3ea.f1a7c","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1260,"wires":[]},{"id":"9e9edb4b.d6b7d8","type":"sentiment","z":"4304c343.6b583c","name":"","property":"payload","x":340,"y":1260,"wires":[["f6d1d3ea.f1a7c","fa39dc53.405a","c26e5d35.267dc"]]},{"id":"fa39dc53.405a","type":"function","z":"4304c343.6b583c","name":"","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1380,"wires":[["de1c9b31.e1a4e8"]]},{"id":"de1c9b31.e1a4e8","type":"ui_gauge","z":"4304c343.6b583c","name":"","group":"d26847f.f207cb8","order":9,"width":0,"height":0,"gtype":"gage","title":"Score","label":"points","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":1340,"wires":[]},{"id":"54ee0838.3d06d8","type":"ui_text_input","z":"4304c343.6b583c","name":"","label":"Press \"Enter\" after typing the paragraph.","tooltip":"","group":"d26847f.f207cb8","order":8,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":195,"y":1240,"wires":[["9e9edb4b.d6b7d8"]],"l":false},{"id":"c26e5d35.267dc","type":"ui_text","z":"4304c343.6b583c","group":"d26847f.f207cb8","order":6,"width":0,"height":0,"name":"","label":"Write about Education in India(5 to 6 lines)","format":"","layout":"row-spread","x":335,"y":1320,"wires":[],"l":false},{"id":"19516c64.30a824","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1460,"wires":[]},{"id":"67e3db80.b6acf4","type":"countdown","z":"4304c343.6b583c","name":"","topic":"","payloadTimerStart":"Started","payloadTimerStartType":"str","payloadTimerStop":"Timeout","payloadTimerStopType":"str","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":false,"startCountdownOnControlMessage":true,"x":490,"y":1440,"wires":[["bae4af88.f169a","ecccb066.e825f"],["19516c64.30a824","b0ecc443.57b8b8"]]},{"id":"bae4af88.f169a","type":"debug","z":"4304c343.6b583c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1420,"wires":[]},{"id":"ecccb066.e825f","type":"ui_text","z":"4304c343.6b583c","group":"d26847f.f207cb8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1380,"wires":[]},{"id":"3cf4764.7430b8a","type":"ui_form","z":"4304c343.6b583c","name":"","label":"","group":"d26847f.f207cb8","order":5,"width":0,"height":0,"options":[{"label":"Type \"yes\" to begin JAM round","value":"type","type":"text","required":true,"rows":null}],"formValue":{"type":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":260,"y":1440,"wires":[["67e3db80.b6acf4"]]},{"id":"b0ecc443.57b8b8","type":"ui_text","z":"4304c343.6b583c","group":"d26847f.f207cb8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":1500,"wires":[]},{"id":"cf3b3805.b9fb88","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"fca7e462.7065d8","type":"ui_group","z":0,"name":"Personal Details","tab":"72c256c7.d104d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"370061a9.cc051e","type":"ui_group","z":0,"name":"Secondary Education","tab":"2a6ab2a0.d93c5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"faa42446.288cd8","type":"ui_group","z":0,"name":"Address Details","tab":"b495ea4.2500218","order":1,"disp":true,"width":"6","collapse":false},{"id":"3060e3b8.9f9fcc","type":"ui_group","z":0,"name":"Technicals Skills","tab":"4862cdbe.657ff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"433a382e.71ff58","type":"ui_group","z":0,"name":"Job details","tab":"93b98d13.2b61d","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfcd20f5.fac6e","type":"ui_group","z":0,"name":"Intermediate Education Details","tab":"2a6ab2a0.d93c5e","order":2,"disp":true,"width":"6","collapse":false},{"id":"7dcba3b1.c1181c","type":"ui_group","z":0,"name":"Graduation Details","tab":"2a6ab2a0.d93c5e","order":3,"disp":true,"width":"6","collapse":false},{"id":"f88b9783.5f73f8","type":"ui_group","z":"","name":"Tests","tab":"55e917c4.6abf98","order":1,"disp":true,"width":"6","collapse":false},{"id":"25790e91.b38152","type":"ui_group","z":"","name":"Final Test","tab":"a4c252cc.a9fd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8711c70.355d8","type":"ui_group","z":"","name":"Upload your resume","tab":"97ed6753.56dce8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d26847f.f207cb8","type":"ui_group","z":"","name":"Complete Within One Minute","tab":"e710923f.7c5a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"72c256c7.d104d8","type":"ui_tab","z":0,"name":"Basic Information","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2a6ab2a0.d93c5e","type":"ui_tab","z":0,"name":"Education Details","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b495ea4.2500218","type":"ui_tab","z":0,"name":"Address Information","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4862cdbe.657ff4","type":"ui_tab","z":0,"name":"Professional Details","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"93b98d13.2b61d","type":"ui_tab","z":0,"name":"Experience Details","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"55e917c4.6abf98","type":"ui_tab","z":"","name":"Test Your Knowledge","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"a4c252cc.a9fd8","type":"ui_tab","z":"","name":"SWAR Test","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"97ed6753.56dce8","type":"ui_tab","z":"","name":"Resume","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"e710923f.7c5a6","type":"ui_tab","z":"","name":"Just A Minute","icon":"dashboard","order":6,"disabled":false,"hidden":false}]